
<div class="cus_ham">
    <div id="nav-icon3">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div class="login_details">
    <div class="logo_div">
        <svg width="77"
             height="21"
             viewBox="0 0 77 21"
             fill="none"
             xmlns="http://www.w3.org/2000/svg"
             class="main_logo">
            <path d="M16.5088 8.04785C16.5088 9.3125 16.208 10.4985 15.6064 11.606C15.0049 12.7065 14.1128 13.5918 12.9302 14.2617C11.7544 14.9248 10.3633 15.2563 8.75684 15.2563C7.44434 15.2563 6.28906 15.0444 5.29102 14.6206C4.29297 14.1968 3.47607 13.6294 2.84033 12.9185C2.21143 12.2075 1.74316 11.4282 1.43555 10.5806C1.13477 9.73291 0.984375 8.88184 0.984375 8.02734C0.984375 6.79004 1.2749 5.62109 1.85596 4.52051C2.43701 3.41992 3.31201 2.53467 4.48096 1.86475C5.6499 1.18799 7.04785 0.849609 8.6748 0.849609C10.1582 0.849609 11.4194 1.09229 12.4585 1.57764C13.4976 2.06299 14.3076 2.6748 14.8887 3.41309C15.4697 4.15137 15.8833 4.92725 16.1294 5.74072C16.3823 6.54736 16.5088 7.31641 16.5088 8.04785ZM13.1865 8.00684C13.1865 7.22754 13.1182 6.48926 12.9814 5.79199C12.8516 5.09473 12.6191 4.46582 12.2842 3.90527C11.9492 3.33789 11.4912 2.89014 10.9102 2.56201C10.3291 2.22705 9.61133 2.05957 8.75684 2.05957C7.58105 2.05957 6.66162 2.35352 5.99854 2.94141C5.34229 3.52246 4.89453 4.25391 4.65527 5.13574C4.42285 6.01074 4.30664 6.96777 4.30664 8.00684C4.30664 8.58105 4.34424 9.1792 4.41943 9.80127C4.49463 10.4233 4.67578 11.0625 4.96289 11.7188C5.25 12.3682 5.70801 12.9185 6.33691 13.3696C6.96582 13.814 7.7793 14.0361 8.77734 14.0361C9.76855 14.0361 10.5718 13.8071 11.187 13.3491C11.8091 12.8843 12.2603 12.3203 12.5405 11.6572C12.8276 10.9873 13.0054 10.3481 13.0737 9.73975C13.1489 9.13135 13.1865 8.55371 13.1865 8.00684ZM26.7524 7.88379C26.7524 8.28027 26.6294 8.59473 26.3833 8.82715C26.144 9.05273 25.8604 9.16553 25.5322 9.16553C25.1426 9.16553 24.8008 8.97412 24.5068 8.59131C24.3701 8.42041 24.2573 8.29736 24.1685 8.22217C24.0796 8.14697 23.9531 8.10938 23.7891 8.10938C23.2559 8.10938 22.8389 8.3999 22.5381 8.98096C22.2441 9.55518 22.0972 10.1533 22.0972 10.7754V12.5596C22.0972 13.1338 22.1689 13.5269 22.3125 13.7388C22.4629 13.9507 22.8525 14.0566 23.4814 14.0566H24.0249V15H17.6572V14.0566H18.1904C18.7646 14.0566 19.1167 13.9473 19.2466 13.7285C19.3765 13.5098 19.4414 13.1201 19.4414 12.5596V9.56543C19.4414 9.10742 19.3936 8.7793 19.2979 8.58105C19.209 8.38281 19.0449 8.25293 18.8057 8.19141C18.5664 8.12305 18.1836 8.08887 17.6572 8.08887V7.14551L21.6562 6.26367C21.7588 6.6123 21.8545 7.354 21.9434 8.48877C22.1348 8.08545 22.3843 7.71631 22.6919 7.38135C23.0063 7.04639 23.355 6.77637 23.7378 6.57129C24.1274 6.36621 24.5239 6.26367 24.9272 6.26367C25.4878 6.26367 25.9321 6.4209 26.2603 6.73535C26.5884 7.0498 26.7524 7.43262 26.7524 7.88379ZM38.7188 14.877C37.2695 14.9385 35.9468 15.0923 34.7505 15.3384C34.6548 15.1333 34.5933 14.7744 34.5659 14.2617C33.6909 14.9795 32.7305 15.3384 31.6846 15.3384C30.8779 15.3384 30.1294 15.1299 29.439 14.7129C28.7554 14.2959 28.2085 13.7285 27.7983 13.0107C27.395 12.2861 27.1934 11.5 27.1934 10.6523C27.1934 10.126 27.2822 9.60303 27.46 9.0835C27.6377 8.56396 27.9146 8.08887 28.2905 7.6582C28.6733 7.2207 29.145 6.87891 29.7056 6.63281C30.2661 6.38672 30.9053 6.26367 31.623 6.26367C32.1494 6.26367 32.6006 6.32861 32.9766 6.4585C33.3525 6.58838 33.6533 6.73877 33.8789 6.90967C34.1045 7.07373 34.3335 7.27197 34.5659 7.50439V4.14111C34.5659 3.68311 34.5283 3.35498 34.4531 3.15674C34.3779 2.9585 34.2344 2.83203 34.0225 2.77734C33.8174 2.72266 33.479 2.68848 33.0073 2.6748V1.73145L37.2114 0.849609V12.334C37.2114 12.8262 37.2319 13.168 37.2729 13.3594C37.3208 13.5508 37.4473 13.6909 37.6523 13.7798C37.8574 13.8618 38.2129 13.9131 38.7188 13.9336V14.877ZM34.5659 12.939V8.78613C34.2788 8.4375 33.937 8.11963 33.5405 7.83252C33.144 7.54541 32.6724 7.40186 32.1255 7.40186C31.7905 7.40186 31.4761 7.49414 31.1821 7.67871C30.8882 7.86328 30.6523 8.09912 30.4746 8.38623C30.1738 8.85791 30.0234 9.6543 30.0234 10.7754C30.0234 11.9102 30.2354 12.7646 30.6592 13.3389C31.0898 13.9131 31.623 14.2002 32.2588 14.2002C32.7168 14.2002 33.144 14.0874 33.5405 13.8618C33.937 13.6362 34.2788 13.3286 34.5659 12.939ZM48.9829 10.4883H42.6768C42.6836 10.6182 42.7007 10.895 42.728 11.3188C42.7622 11.7427 42.8579 12.1768 43.0151 12.6211C43.1792 13.0654 43.4561 13.4414 43.8457 13.749C44.2422 14.0498 44.772 14.2002 45.4351 14.2002C45.7974 14.2002 46.2349 14.1079 46.7476 13.9233C47.2603 13.7388 47.7046 13.3833 48.0806 12.8569L48.8804 13.4004C48.0737 14.6924 46.792 15.3384 45.0352 15.3384C44.249 15.3384 43.5312 15.2256 42.8818 15C42.2393 14.7744 41.6924 14.46 41.2412 14.0566C40.79 13.6533 40.4448 13.1782 40.2056 12.6313C39.9663 12.0845 39.8467 11.4966 39.8467 10.8677C39.8467 10.0405 40.0449 9.2749 40.4414 8.5708C40.8447 7.8667 41.4189 7.30615 42.1641 6.88916C42.9092 6.47217 43.7603 6.26367 44.7173 6.26367C45.6538 6.26367 46.4434 6.46533 47.0859 6.86865C47.7354 7.27197 48.2139 7.79492 48.5215 8.4375C48.8291 9.08008 48.9829 9.76367 48.9829 10.4883ZM46.4399 9.54492C46.4399 7.98633 45.8247 7.20703 44.5942 7.20703C43.9995 7.20703 43.5415 7.42236 43.2202 7.85303C42.9058 8.28369 42.7314 8.84766 42.6973 9.54492H46.4399ZM58.9702 7.88379C58.9702 8.28027 58.8472 8.59473 58.6011 8.82715C58.3618 9.05273 58.0781 9.16553 57.75 9.16553C57.3604 9.16553 57.0186 8.97412 56.7246 8.59131C56.5879 8.42041 56.4751 8.29736 56.3862 8.22217C56.2974 8.14697 56.1709 8.10938 56.0068 8.10938C55.4736 8.10938 55.0566 8.3999 54.7559 8.98096C54.4619 9.55518 54.3149 10.1533 54.3149 10.7754V12.5596C54.3149 13.1338 54.3867 13.5269 54.5303 13.7388C54.6807 13.9507 55.0703 14.0566 55.6992 14.0566H56.2427V15H49.875V14.0566H50.4082C50.9824 14.0566 51.3345 13.9473 51.4644 13.7285C51.5942 13.5098 51.6592 13.1201 51.6592 12.5596V9.56543C51.6592 9.10742 51.6113 8.7793 51.5156 8.58105C51.4268 8.38281 51.2627 8.25293 51.0234 8.19141C50.7842 8.12305 50.4014 8.08887 49.875 8.08887V7.14551L53.874 6.26367C53.9766 6.6123 54.0723 7.354 54.1611 8.48877C54.3525 8.08545 54.6021 7.71631 54.9097 7.38135C55.2241 7.04639 55.5728 6.77637 55.9556 6.57129C56.3452 6.36621 56.7417 6.26367 57.145 6.26367C57.7056 6.26367 58.1499 6.4209 58.478 6.73535C58.8062 7.0498 58.9702 7.43262 58.9702 7.88379Z"
                  fill="white" />
            <path d="M65.0918 15H59.1958V14.0566H59.6367C60.0332 14.0566 60.3203 14.002 60.498 13.8926C60.6826 13.7832 60.7954 13.6294 60.8364 13.4312C60.8774 13.2329 60.8979 12.9424 60.8979 12.5596V3.82324C60.8979 3.33105 60.7817 3.0166 60.5493 2.87988C60.3237 2.74316 59.8726 2.6748 59.1958 2.6748V1.73145L63.5435 0.849609V12.5596C63.5435 12.9424 63.5605 13.2329 63.5947 13.4312C63.6357 13.6226 63.7451 13.7764 63.9229 13.8926C64.1074 14.002 64.3979 14.0566 64.7944 14.0566H65.0918V15ZM76.1968 7.54541C75.9028 7.58643 75.6738 7.66162 75.5098 7.771C75.3457 7.88037 75.1953 8.05127 75.0586 8.28369C74.9287 8.50928 74.6929 8.9707 74.3511 9.66797L71.3467 15.9023C70.6768 17.2764 70.2188 18.189 69.9727 18.6401C69.7334 19.0981 69.46 19.4604 69.1523 19.7271C68.8447 19.9937 68.4619 20.127 68.0039 20.127C67.6895 20.127 67.416 20.0312 67.1836 19.8398C66.9512 19.6484 66.835 19.4058 66.835 19.1118C66.835 18.6948 66.9751 18.3906 67.2554 18.1992C67.5425 18.0146 67.9116 17.8574 68.3628 17.7275C68.9712 17.5498 69.436 17.2251 69.7573 16.7534C70.0786 16.2817 70.3555 15.7656 70.5879 15.2051L66.6812 8.32471C66.4966 7.98975 66.3291 7.77783 66.1787 7.68896C66.0283 7.59326 65.8198 7.54541 65.5532 7.54541V6.60205H70.5264V7.54541H70.2085C69.7368 7.54541 69.501 7.6582 69.501 7.88379C69.501 8.02051 69.5967 8.25635 69.7881 8.59131L71.9517 12.3955L73.5513 9.14502C73.7769 8.68018 73.8896 8.3623 73.8896 8.19141C73.8896 7.98633 73.7871 7.8291 73.582 7.71973C73.3838 7.60352 73.1479 7.54541 72.8745 7.54541V6.60205H76.1968V7.54541Z"
                  fill="white"
                  fill-opacity="0.6" />
        </svg>

        <a href="@Url.RouteUrl("Logout")">
            <svg width="16"
                 height="16"
                 viewBox="0 0 16 16"
                 fill="none"
                 xmlns="http://www.w3.org/2000/svg"
                 class="sign_out">
                <g opacity="0.6">
                    <path fill-rule="evenodd"
                          clip-rule="evenodd"
                          d="M2 2.75C2 1.7835 2.7835 1 3.75 1H6.25C6.66421 1 7 1.33579 7 1.75C7 2.16421 6.66421 2.5 6.25 2.5H3.75C3.61193 2.5 3.5 2.61193 3.5 2.75V13.25C3.5 13.3881 3.61193 13.5 3.75 13.5H6.25C6.66421 13.5 7 13.8358 7 14.25C7 14.6642 6.66421 15 6.25 15H3.75C2.7835 15 2 14.2165 2 13.25V2.75ZM12.4393 7.25H6.75002C6.33581 7.25 6.00002 7.58579 6.00002 8C6.00002 8.41422 6.33581 8.75 6.75002 8.75H12.4393L10.4697 10.7197C10.1768 11.0126 10.1768 11.4874 10.4697 11.7803C10.7626 12.0732 11.2374 12.0732 11.5303 11.7803L14.7803 8.53033C15.0732 8.23744 15.0732 7.76256 14.7803 7.46967L11.5303 4.21967C11.2374 3.92678 10.7626 3.92678 10.4697 4.21967C10.1768 4.51256 10.1768 4.98744 10.4697 5.28033L12.4393 7.25Z"
                          fill="#F6F8FD" />
                </g>
            </svg>
        </a>
    </div>
    <a href="" class="login_email">@User.Identity.Name</a>
</div>
<div class="cus_navbar">
    <ul>
        <li>
            <a href="@Url.RouteUrl("Home")">@T("Portfolio")</a>
        </li>
        <li><a href="@Url.RouteUrl("Monitoring")">@T("Monitoring")</a></li>
        <li><a href="@Url.RouteUrl("ManageTokens")">@T("TokenManagement")</a></li>
        <li><a href="@Url.RouteUrl("Analyzer")">@T("Analyzer")</a></li>
        <li><a href="@Url.RouteUrl("Distributor")">@T("Distributor")</a></li>
        <li><a href="@Url.RouteUrl("InvestmentManager")">@T("InvestmentsManagerHeading")</a></li>
        <li><a href="@Url.RouteUrl("Calendar")">@T("Calendar")</a></li>
        <li><a href="@Url.RouteUrl("Contacts")">@T("Contacts")</a></li>
        <li><a href="@Url.RouteUrl("OTC")">@T("OTC")</a></li>
    </ul>
</div>

<script>
    $('.cus_navbar li a').removeClass('cus_active');
    $('.cus_navbar li a[href="' + window.location.pathname + '"]').addClass('cus_active');
</script>