@model ContactModel
@inject IContactService _contactService

@{
    var availbaleContacts = _contactService.GetUserContactsAsync((_appUser.GetCurrentUserAsync().Result)?.Id ?? 0).Result;
    ViewBag.Title = "Investment Manager";
    Layout = "~/Views/Shared/_AuthorizeLayout.cshtml";
    var groupModel = new GridGroupModel();
    if (ViewBag.GroupModel != null)
    {
        groupModel = (GridGroupModel)ViewBag.GroupModel;
    }
}
<div class="center_panel">
    @await Html.PartialAsync("_Notifications") 
<div class="container cus_container">
    <div class="upper_heading">
        <div class="row align-items-center">
            <div class="col-md-6">
                <h4 class="common_heading">@T("Contact")</h4>
            </div>
            @if (@ViewBag.ShowButtons)
            {
                <div class="col-md-6">
                    <ul class="all_wallets">
                        <li>
                            <a href="javascript:void(0)"
                               class="common_btn" id="addContactBtn"
                               data-bs-toggle="modal"
                               data-bs-target="#contactModal">@T("AddNewContact")</a>
                        </li>
                    </ul>
                </div>
            }
        </div>
    </div>
    <div class="row justify-content-end">
        <div class="col-md-auto">
            <div class="form-check form-switch custom_toggle">
                @Html.CheckBoxFor(x => x.ShowGroup, new { @class = "form-check-input" })
                @Html.LabelFor(x => x.ShowGroup, new { @class = "form-check-label" })
            </div>
        </div>
    </div>
    <div class="table_bg contact_table" id="table_contacts">
        <div class="table-responsive">
            @await Html.PartialAsync("GridTable", new DataTablesModel()
       {
           Name = "contact-grid",
           UrlRead = Url.RouteUrl("GetContacts"),
           Length = OrderlyDefaults.GridDefaultPageSize,
           LengthMenu = OrderlyDefaults.AvailableGridPageSize,
           SearchButtonId = "search-contact",
           Filters = new List<FilterParameter>()
           {
               new FilterParameter(nameof(Model.ShowGroup),Model.ShowGroup)
           },
           ColumnCollection = new List<ColumnProperty>()
           {
               new ColumnProperty("name")
               {
                   Title = T("Name").Value,
                   Width = "50"
               },
               new ColumnProperty("address")
               {
                   Title = T("Address").Value,
                   Width = "100",
                   Render= new RenderCustom("contact.renderNameWithCoppyButton")
               },
               new ColumnProperty("token")
               {
                   Title = T("Token").Value,
                   Width = "100",
                   ClassName="text-start"
               },
               new ColumnProperty("id")
               {
                  Title = T("Action").Value,
                  Width = "20",
                  Render = new RenderCustom("contact.renderSvg"),
                  ClassName="action_btns text-end"
               }
           }
       })
        </div>
        @if (@ViewBag.ShowButtons)
        {
            <div class="footer-btn">
                <a href="javascript:void(0)"
                   class="cus_add_link"
                   data-bs-toggle="modal"
                   data-bs-target="#contactModal">@T("AddAddressWithPlusSign")</a>
                <a href="javascript:void(0)"
                   class="cus_add_link"
                   data-bs-toggle="modal"
                   data-bs-target="#groupModal">@T("AddGroupWithPlusSign")</a>
            </div>
        }

    </div>
    <div class="table_bg contact_table" id="table_group" style="display:none">
        <div class="table-responsive">
            @await Html.PartialAsync("GridTable", new DataTablesModel()
            {
                Name = "group-grid",
                    UrlRead = Url.RouteUrl("GetGroups"),
                    Length = OrderlyDefaults.GridDefaultPageSize,
                    LengthMenu = OrderlyDefaults.AvailableGridPageSize,
                    SearchButtonId = "search-contact",
                    Filters = new List<FilterParameter>()
                    {
                        new FilterParameter(nameof(Model.ShowGroup),Model.ShowGroup)
                    },
                    ColumnCollection = new List<ColumnProperty>()
                    {
                        new ColumnProperty("name")
                        {
                            Title = "",
                            Width = "50",
                            ClassName="cus_accordian",
                            Render= new RenderCustom("contact.renderAccordian")
                        }
                    }
                    })
        </div>
        @if (@ViewBag.ShowButtons)
        {
            <div class="footer-btn">
                <a href="javascript:void(0)"
                   class="cus_add_link"
                   data-bs-toggle="modal"
                   data-bs-target="#contactModal">@T("AddAddressWithPlusSign")</a>
                <a href="javascript:void(0)"
                   class="cus_add_link"
                   data-bs-toggle="modal"
                   data-bs-target="#groupModal">@T("AddGroupWithPlusSign")</a>
            </div>
        }
    </div>
</div>
</div>
@section RightPopup{
    @await Html.PartialAsync("_AddContact", Model)
    <form asp-action="AddGroup" id="new-Group" asp-controller="Contacts" method="post">
        <div class="modal fade cus_right_modal cus_address_add_modal add_new_investment"
             id="groupModal"
             tabindex="-1"
             data-bs-backdrop="static"
             data-bs-keyboard="false"
             aria-labelledby="groupModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="common_heading">@T("AddNewGroup")</h4>
                        <button type="button"
                                class="btn"
                                data-bs-dismiss="modal"
                                aria-label="Close">
                            <svg width="24"
                                 height="24"
                                 viewBox="0 0 24 24"
                                 fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      clip-rule="evenodd"
                                      d="M5.57999 5.57998C5.79092 5.36931 6.07686 5.25097 6.37499 5.25097C6.67311 5.25097 6.95904 5.36931 7.16999 5.57998L12 10.41L16.83 5.57998C16.933 5.46945 17.0572 5.3808 17.1952 5.31931C17.3332 5.25783 17.4822 5.22477 17.6332 5.2221C17.7843 5.21943 17.9343 5.24722 18.0744 5.3038C18.2145 5.36038 18.3417 5.44459 18.4485 5.55142C18.5554 5.65825 18.6396 5.78551 18.6961 5.92558C18.7527 6.06567 18.7806 6.21571 18.7779 6.36676C18.7752 6.51783 18.7422 6.66679 18.6807 6.80479C18.6192 6.94279 18.5305 7.06699 18.42 7.16998L13.59 12L18.42 16.83C18.5305 16.933 18.6192 17.0572 18.6807 17.1952C18.7422 17.3332 18.7752 17.4822 18.7779 17.6332C18.7806 17.7843 18.7527 17.9343 18.6961 18.0744C18.6396 18.2145 18.5554 18.3417 18.4485 18.4485C18.3417 18.5554 18.2145 18.6396 18.0744 18.6961C17.9343 18.7527 17.7843 18.7806 17.6332 18.7779C17.4822 18.7752 17.3332 18.7422 17.1952 18.6807C17.0572 18.6192 16.933 18.5305 16.83 18.42L12 13.59L7.16999 18.42C6.95672 18.6187 6.67464 18.7269 6.38319 18.7218C6.09174 18.7165 5.81367 18.5985 5.60754 18.3924C5.40143 18.1863 5.28336 17.9082 5.27822 17.6167C5.27307 17.3253 5.38127 17.0433 5.57999 16.83L10.41 12L5.57999 7.16998C5.36931 6.95905 5.25098 6.67311 5.25098 6.37498C5.25098 6.07686 5.36931 5.79093 5.57999 5.57998Z"
                                      fill="#24292E" />
                            </svg>
                        </button>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" value="@groupModel.Id" name="Id" />
                        <div class="form-field">
                            <label class="form-label">@T("Name")</label>
                            <input type="text" class="form-control" data-val="true" data-val-required="This field is required." value="@groupModel.Name" name="Name" placeholder="Name" />
                            <span class="field-validation-valid text-danger validation" data-valmsg-for="Name" data-valmsg-replace="true"></span>
                        </div>

                        <div class="form-field cus_multiselect">
                            <label class="form-label">@T("Contacts")</label>
                            <select class="valid" name="ContactIds" id="ContactIds" multiple>
                                @foreach (var contact in availbaleContacts)
                                {
                                    if (groupModel.Contacts.Any(x => x.Id == contact.Id))
                                    {
                                        <option value="@contact.Id" selected>@contact.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@contact.Id">@contact.Name</option>
                                    }
                                }
                            </select>

                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button"
                                class="btn cus_cancel"
                                data-bs-dismiss="modal">
                            @T("Cancel")
                        </button>
                        <button type="submit" class="btn cus_save">@T("Save")</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
}
<script src="~/js/contact.min.js"></script>
<script type="text/javascript">
    contact.init(
       '@T("DeleteConfirmationMessage")',
       '@Url.RouteUrl("DeleteContact")',
       '@Url.RouteUrl("DeleteGroup")',
       '@Url.RouteUrl("EditContact")',
       '@Url.RouteUrl("EditGroup")',
       '@T("EditContact")',
       '@T("EditGroup")',
       '@Html.IdFor(x => x.ShowGroup)'
    )   
</script>
